mixin input(params)
    - var labelClass = params.labelClass || false;
    - var inputClass = params.inputClass || false;
    - var labelText = params.labelText;
    - var fieldId =params.fieldId;
    - var inputType = params.inputType;
    - var name = params.name;
    - var value = params.value || false;
    - var pattern = params.pattern || false;
    - var inputmode = params.inputmode || false;
    - var placeholder = params.placeholder || false;
    - var required = params.required || false;
    - var checked = params.checked || false;

    !='<!-- input-for: ' + labelText + '-->'
    label(class=labelClass for=fieldId) !{labelText}
    input(class=inputClass type=inputType id=fieldId name=name value=value pattern=pattern inputmode=inputmode placeholder=placeholder required=required checked=checked)
