mixin button(params)
    - var size = params.size || 'small';
    - var theme = params.theme || 'primary';
    - var type = params.type || 'button';
    - var text = params.text;

    button(class=`btn btn--${size} btn--${theme}` aria-label=text type=type)&attributes(attributes) #{text}
