mixin radio-list(params)
    ul.radio-list
        each item in params.radio
            li.radio-list__item
                - var labelClass = params.labelClass || false;
                - var labelText = item.labelText;
                - var fieldId =item.dif && params.fieldId + '-' + item.dif;
                - var name = params.name;
                - var value = item.value || false;
                - var checked = item.checked || false;

                !='<!-- input-for: ' + labelText + '-->'
                input(class='visually-hidden' type='radio' id=fieldId name=params.name value=value checked=checked)
                label(class=labelClass for=fieldId) !{labelText}


//-+radio-list({
    labelClass : 'radio-list__label',
    fieldId : 'volume',
    name : 'face-care',
    radio : [
        {
            labelText : '50ml',
            dif : '50',
            value : '50ml',
            checked : true
        },{
            labelText : '30ml',
            dif : '30',
            value : '30ml'
        }
    ]
    })
